<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.nupter.nupter"
          android:versionCode="4"
          android:versionName="1.1">


    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="17"/>


    <application android:label="@string/app_name"
                 android:icon="@drawable/icon_launcher"
                 android:name=".MyApplication"
                 android:theme="@style/MyTheme">


        <activity android:name=".activity.MapBaiduActivity"
                  android:label="@string/title_activity_baidumap"/>
        <activity android:name=".activity.MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.WelcomeActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.BookActivity"
                  android:label="@string/label_book"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ClubActivity"
                  android:label="@string/title_activity_club"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ClubDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ClubDetailPhotoActivity"
                  android:label="@string/label_club_photo"/>
        <activity android:name=".activity.NewsActivity"
                  android:label="@string/label_news"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.NewspaperActivity"
                  android:label="@string/label_newspaper"/>
        <activity android:name=".activity.LifeAssistantActivity"
                  android:label="@string/label_life"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginActivity"
                  android:label="@string/label_login"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginSchoolcardActivity"
                  android:label="@string/label_login"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginNumberSaveActivity"
                  android:label="@string/label_login_number_save"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingActivity"
                  android:label="@string/label_setting"/>
        <!--        <activity android:name=".activity.LoginSchoolCardActivity"/>
                <activity android:name=".activity.SchoolCardActivity"
                        />-->
        <activity android:name=".activity.ScheduleActivity"
                  android:label="@string/title_activity_schedule"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScheduleCustomSetting"
                  android:label="@string/title_activity_schedule"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.BookListActivity"
                  android:label="@string/label_book_list"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.BookViewActivity"
                  android:label="@string/label_book_view"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.MapListActivity"
                  android:label="@string/label_maplist"/>
        <activity android:name=".activity.MapImageActivity"/>
        <activity android:name=".activity.NewsDetailActivity"
                android:label="@string/label_news"/>


        <activity android:name=".activity.TestActivity"
                  android:label="@string/title_activity_test"
                  android:screenOrientation="portrait"/>


        <activity android:name=".activity.ActivityListActivity"/>

        <activity android:name=".activity.LostAndFoundActivity"
                  android:label="@string/label_lost"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.MessageListActivity"
                  android:label="@string/label_message"/>
        <activity android:name=".activity.NewspaperDetailActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebviewActivity"/>
        <activity android:name=".activity.LibraryLoginActivity"/>
        <receiver android:name=".utils.ScheduleWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="org.nupter.widget.refresh"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/set_widget"/>
        </receiver>

        <!--Parse推送配置-->
        <service android:name="com.parse.PushService"/>
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <meta-data android:value="5226d90556240bec3b0419ec" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Develop" android:name="UMENG_CHANNEL"/>

        <activity android:name="com.umeng.fb.ConversationActivity"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.umeng.fb.ContactActivity"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <service
                android:name="com.umeng.common.net.DownloadingService"
                android:process=":DownloadingService" >
        </service>



    </application>





    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"></uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></permission>


    <!--第三方库SugarDB配置-->
    <meta-data android:name="DATABASE" android:value="sugar.db"/>
    <meta-data android:name="VERSION" android:value="2"/>
    <meta-data android:name="QUERY_LOG" android:value="true"/>
    <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="org.nupter.nupter"/>

</manifest>
