<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.nupter.nupter"
          android:versionCode="1"
          android:versionName="1.0">


    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="17"/>


    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name=".MyApplication">

        <activity android:name=".activity.BaiduMapActivity"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.WelcomeActivity"/>
        <activity android:name=".activity.LibraryActivity"/>
        <activity android:name=".activity.ClubActivity"/>
        <activity android:name=".activity.NewsActivity"/>
        <activity android:name=".activity.NewspaperActivity"/>
        <activity android:name=".activity.LifeAssistantActivity"/>
        <activity android:name=".activity.ClassTableActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.MapActivity"/>
        <activity android:name=".activity.SchoolCardActivity"/>
        <activity android:name=".activity.BookListActivity"/>
        <activity android:name=".activity.BookViewActivity"/>
        <activity android:name=".activity.MapListActivity"/>
        <activity android:name=".activity.TouchImageViewActivity"/>
        <activity android:name=".activity.TouchImageActivity"/>
        <activity android:name=".activity.NewspaperActivity"/>
        <activity android:name=".activity.ParseActivity"/>
        <activity android:name=".activity.SugarDBActivity"/>
        <activity android:name=".activity.ImageLoaderActivity"/>


        <activity android:name=".activity.ActivityListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LostAndFoundActivity"
                  android:screenOrientation="portrait"
                />
        <activity android:name=".activity.MessageListActivity"/>
        <activity android:name=".activity.NewspaperDetailActivity"/>
        <activity android:name=".activity.WebviewActivity"/>


        <!--Parse推送配置-->
        <service android:name="com.parse.PushService"/>
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>


    </application>


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"></uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE"></permission>


    <!--第三方库SugarDB配置-->
    <meta-data android:name="DATABASE" android:value="sugar.db"/>
    <meta-data android:name="VERSION" android:value="2"/>
    <meta-data android:name="QUERY_LOG" android:value="true"/>
    <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="org.nupter.nupter"/>

</manifest>
